{% extends 'Life/base.html' %}
{% load life_tags %}
{% block main %}
    <div id="twocolumns">
        <div class="container">
            <div class="row">
                <div id="content" class="col-xs-12 col-md-8">
                    {% block Smain %}
                    {% endblock Smain %}
                    <!-- 分页 -->
                    <nav role="navigation" class="navigation pagination">
                        <div class="nav-links">
                            <a href="#" class="prev page-numbers">上一页.</a>
                            <a href="#" class="page-numbers">1</a>
                            <span class="page-numbers current">2</span>
                            <span class="page-numbers dots hidden">…</span>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="next page-numbers">下一页.</a>
                        </div>
                    </nav>
                    <!-- 分页 end -->
                </div>
                <!-- 分类、标签、关于 -->
                <aside id="sidebar" class="col-xs-12 col-md-4">
                    <!-- 最新文章 -->
                    <section class="widget recent-posts-widget wow fadeInUp" data-wow-delay="0.6s">
                        {% get_recent_post as recent_post_list %}
                        <header class="widget-head">
                            <h3>最新文章</h3>
                        </header>
                        <ol>
                            {% for post in recent_post_list %}
                                {% if post.pk|divisibleby:3 %}
                                <li>
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }} <br></a></h4>
                                    <span class="post-tag">
                                        <time datetime="2011-01-12"><a href="#">{{ post.created_time }}</a></time>
                                        <strong class="tag hot">HOT</strong>
                                    </span>
                                </li>
                                {% elif post.pk|divisibleby:2 %}
                                <li>
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                    <span class="post-tag">
                                        <time datetime="2011-01-12"><a href="#">{{ post.created_time }}</a></time>
                                        <strong class="tag">trending</strong>
                                    </span>
                                </li>
                                {% else %}
                                <li>
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                    <span class="post-tag">
                                        <time datetime="2011-01-12"><a href="#">{{ post.created_time }}</a></time>
                                    </span>
                                </li>
                                {% endif %}
                            {% empty %}
                            暂无文章！
                            {% endfor %}
                        </ol>
                    </section>
                    <!-- 最新文章 end-->
                    <!-- 归档 -->
                    <div class="widget widget_categories tabs wow fadeInUp" data-wow-delay="0.6s">
                        <h3 class="widget-title">归档</h3>
                        {% archives as date_list %}
                            <ul>
                            {% for date in date_list %}
                            <li>
                                    <a href="{% url 'life:archives' date.year date.month %}">
                                {{ date.year }} 年 {{ date.month }} 月</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <!-- 归档 end-->
                </aside>
                <!-- 分类、标签、关于 end-->
            </div>
        </div>
    </div>
{% endblock main %}